.container {
    margin: 0;
    padding: 0;
}

.title {
    color: white;
    margin-left: 13px;
}

.trendsContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(29,39,50,255);
    border-radius: 6px;
    margin: 13px;
    height: fit-content;
    cursor: pointer;
}

.trends {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
    margin-top: 5px;
    margin-left: 15px;
}

.trendsTitle {
    color: white;
    font-weight: 800;
}

.trendsNumber {
    color: rgba(120,130, 143, 255);
}